
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Sosyal Medya Girişi</h2>

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" class="form-control" name="PlatformName" />
    <br />
    <label>Status</label>
    <input type="checkbox" class="form-control" name="Status" />
    <br />
    <button class="btn btn-info">Yeteneği Kaydet</button>
</form>

