@model List<DevFolio.Models.TblAdmin>

@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Admin Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
     <tr>
        <td>@x.AdminId</td>
        <td>@x.UserName</td>
        <td>@x.Password</td>
        <td><a href="/Admin/DeleteAdmin/@x.AdminId" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/UpdateAdmin/@x.AdminId" class="btn btn-success">Güncelle</a></td>
     </tr>
    }
</table>

<a href="/Admin/CreateAdmin" class="btn btn-info">Yeni Admin Ekle</a>

