
@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Admin Ekle</h2>

<form method="post">
    <label>Kullanıcı Adı</label>
    <input type="text" class="form-control" name="UserName" />
    <br />
    <label>Şifre</label>
    <input type="text" class="form-control" name="Password" />
    <br />
    <button class="btn btn-info">Admini Ekle</button>
</form>

