
@{
    Layout = null;
}

<h3>Merhaba Dünya</h3>

<div style="background-color:cadetblue">Burası bir divdir</div>
<br />
<div style="background-color:orangered">2. div</div>

<a href="http://www.google.com">Google git</a>
<hr />
<a href="http://www.mynet.com">Mynet git</a>