
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projeler sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Proje Başlığı</th>
        <th>Kategori</th>
        <th>Github ta aç</th>
    </tr>
    <tr>
        <th>1</th>
        <td>Crm yazılımı</td>
        <td>Masaüstü Uygulaması</td>
        <td><a href="#" class="btn btn-warning"> GitHub ta a.</a></td>
    </tr>
    <tr>
        <th>2</th>
        <td>ToDolist App</td>
        <td>Mobil Uygulaması</td>
        <td><a href="#" class="btn btn-warning"> GitHub ta a.</a></td>
    </tr>
    <tr>
        <th>3</th>
        <td>Büyük Veri Analizi</td>
        <td>Makine Öğrenmesi</td>
        <td><a href="#" class="btn btn-warning"> GitHub ta a.</a></td>
    </tr>
</table>

