@model List<DevFolio.Models.TblProject>
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projec Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Yapılma tarihi</th>
        <th>Proje Kategorisi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectId</td>
            <td>@item.Title</td>
            <td>@item.CreatedDate</td>
            <td>@item.TblCategory.CategoryName</td>
            <td><a href="/Project/DeleteProject/@item.ProjectId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>

<a href="/Project/CreateProject" class="btn btn-info">Yeni proje oluştur</a>

